/* background image credit:
   Glen Edelson - https://flic.kr/p/5cNALc 
   Creative Commons 2.0 - https://creativecommons.org/licenses/by/2.0/
*/

body {
  background-color: rgb(218,189,153);
  background: url(../images/bg-noise.png) repeat;
  color: #000;
}

.top-nav-collapse {
  background-color: rgb(128,111,91);
  background: url(../images/bg-noise-dark.png) repeat;
}
.navbar-custom.top-nav-collapse {
  border-bottom: none;
}
.top-nav-collapse.navbar-custom a {
  /*color: #000;*/
}
.navbar-custom {
  background-color: transparent;
}
.navbar-toggle {
  color: #FFF;
}

.logo {
  padding-top: 50px;
  max-width: 100%;
}

.logo text {
  display:none;
}
#shops button {
  width: auto;
}

.map-embed {
  width: 640px;
  height: 480px;
}
