<!-- About Section -->
<section id="about" class="container content-section">
<div class="row">
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <h2><img src="images/find-the-unexpected.png" alt="Find the Unexpected at Antique Row" class="img-responsive"/></h2>
    <div class="text-left">
      <p><strong>Chamblee's Antique Row District</strong> is a charming collection of antique stores and resale shops appealing to local Atlanta residents and world wide travelers.
      Antique Row's cluster of <strong>fine shops</strong> and <strong>dining</strong> is always a unique experience with an array of offerings.</p>

      <p>There's something special about the small-town atmosphere you'll find in Historic Old Chamblee. Journey back to simpler times as you'll browse through the amazing selection of antiques and collectibles offered by our quality dealers.</p>

      <p><strong>Antiques, Consignments, Thrifting</strong> and <strong>Eateries</strong><br/>
      Spend the day with friends and family!<br/>
      Watch the trains go by in our little town, on the right track.<br/>
      Check out our events. <a class="page-scroll" href="mailto:antiquerowga@aol.com">Contact us</a> to join our mailing list.<br/>
      We are on <a href="https://www.facebook.com/pages/Antique-Row-Chamblee-Atlanta-GA/364069926948723">Facebook</a>. Like Us in person and online.<br/>
      <strong><a href="brochure.pdf"><i class="fa fa-file"></i> Download our brochure!</a></strong></p>
    </div>
  </div>
  <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-center">
    <h3>The City of Chamblee</h3>
    <div class="text-left">
      <p>The City of Chamblee was incorporated in 1908. Chamblee's history is intertwined with three entities - dairies, railroads and military. For years, Chamblee was known for its rolling hills and numerous dairies. The only thing that crisscrossed the pastures during the late 19th and early 20th century was the railroad. Chamblee was located the junction of what is now the Norfolk Southern Railroad and the Roswell Railroad. In 1917 the dairy land was transformed into Camp Gordon and home to over 40,000 military personnel.  After WWI Camp Gordon was closed, but reopened in 1941 as Naval Air Station Atlanta. In 1959 DeKalb county took control of the facility and today DeKalb Peachtree Airport is the second busiest in the state of Georgia.</p>
      <p class="col-xs-12 col-sm-4 text-center"><a href="http://www.chambleega.com"><img src="images/city-of-chamblee.png" alt="City of Chamblee" class="img-responsive"/></a></p>
      <p class="col-xs-12 col-sm-4 text-center"><a href="http://visitatlantasdekalbcounty.com"><img src="images/discover-dekalb.png" alt="Discover DeKalb" class="img-responsive"/></a></p>
      <p class="col-xs-12 col-sm-4 text-center"><a href="http://chambleechamber.org"><img src="images/chamblee-chamber.png" alt="Chamblee Chamber" class="img-responsive"/></a></p>
    </div>
  </div>
</div>
</section>
