<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
<div class="row">
  <div class="col-xs-12">
    <h2>Contact Us</h2>
    <ul class="list-inline banner-social-buttons">
      <li>
      <a href="https://www.facebook.com/pages/Antique-Row-Chamblee-Atlanta-GA/364069926948723" class="btn btn-primary btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
      </li>
      <li>
      <a href="mailto:antiquerowga@aol.com" class="btn btn-primary btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
      </li>
      <li>
      <a href="tel:7709867460" class="btn btn-primary btn-lg"><i class="fa fa-phone fa-fw"></i> <span class="network-name">770-986-7460</span></a>
      </li>
    </ul>
  </div>
</div>
</section>
