<!-- Directions Section -->
<section id="directions" class="container content-section">
<div class="row">
  <div class="col-xs-12" id="directions">
    <h2 class="text-center">Directions</h2>
    <p>Chamblee's Antique Row is conveniently located ITP 'inside the perimeter' in northeast Atlanta inside I285 and  Peachtree Boulevard. Antique Row will fit you to a T - Broad Street and Peachtree Road, East and West and all around the railroad tracks are filled with shopping and eateries.</p>
    <p class="text-center"><strong><a href="https://goo.gl/maps/tUe16" target="_blank">Google Maps to Chamblee Antique Row</a></strong></p>
    <p><strong>From Atlanta:</strong> Drive north on I85 to I285 West (perimeter); exit west toward downtown Atlanta and proceed to Peachtree Boulevard South. Exit #31A and go 1.5 miles to Broad Street.  Left on Broad Street and Left or Right at the stop sign at Peachtree Road.</p>
    <p><strong>From Lenox Square & Phipps Plaza, Buckhead:</strong> Drive north approximately 3.5 miles on Peachtree Road.  turn right at Peachtree Road just past Oglethorpe University and before Lowe's (on left) and continue on Peachtree and to Broad Street.  You will see 'the row.'</p>
    <p><strong>MARTA:</strong>  Take the MARTA Doraville north line train - from downtown or Lenox Square to the Chamblee Station.  Walk on the north side of the station (lofts across the street). 3-6 blocks to Antique Row.  Or take MARTA Bus No 132 Tilly Mill, on weekdays, for a short ride to Antique Row.</p>
  </div>
</div>
</section>
