<!-- Events Section -->
<section id="events" class="content-section text-center">
<div class="events-section">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Upcoming Events</h2>
      <%#<p><strong>1st Saturday Appraisal Fair</strong> – Free verbal appraisals 11AM-3PM the on First Saturday of the month at The Broad Street Antique Mall. For more information call <a href="tel:7704586316">770-458-6316</a> or <a href="mailto:sylturner@mindspring.com">email</a>.</p>%>
      <p><strong><a href="https://www.facebook.com/TasteOfChamblee">Taste of Chamblee</a></strong> – September 12, 2015</p>
      <p><strong>Holiday Open House</strong> - Dec. 5th &amp; 6th, 2015</p>
    </div>
  </div>
</div>
</section>
