<!-- Intro Header -->
<header class="intro">
<div class="intro-body">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="brand-name"><img src="images/logo-big.jpg" class="logo img-responsive" alt="Chamblee's Antique Row District"/></h1>
        <p class="intro-text">Chamblee's Antique Row District is largest and most distinctive antiques collection in the Southeast!</p>
        <a href="#about" class="btn btn-circle page-scroll">
          <i class="fa fa-angle-double-down animated"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</header>
