<!-- Shops Section -->
<section id="shops" class="content-section">
<div class="shops-section">
  <div class="container">
    <div class="col-xs-12" id="shops">
      <h2 class="text-center">Stroll from Shop to Shop</h2>
      <iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zMyhsF3_QU8E.klVYploWvPgw" width="100%" height="100%" class="hidden-xs map-embed img-responsive"></iframe>
      <div class='btn-group-vertical col-xs-12 visible-xs'>
        <a class="btn btn-primary btn-lg" href="https://www.google.com/maps/d/viewer?mid=zMyhsF3_QU8E.klVYploWvPgw"><i class="fa fa-map-marker"></i> View Map</a>
      </div>
      <div class="store-section">
        <h3 class="text-center">Shops</h3>
        <div class='btn-group-vertical col-xs-12'>
          <% data.shops.sort.each do |shop| %>
            <%= partial("sections/store", :locals => { store: shop, type: "store" }) %>
          <% end %>
        </div>
      </div>
      <div class="store-section">
        <h3 class="text-center">Restaurants</h3>
        <div class='btn-group-vertical col-xs-12'>
          <% data.restaurants.sort.each do |shop| %>
            <%= partial("sections/store", :locals => { :store => shop, type: "restaurant" }) %>
          <% end %>
        </div>
      </div>
      <div class="store-section">
        <h3 class="text-center">Other</h3>
        <div class='btn-group-vertical col-xs-12'>
          <% data.other.sort.each do |shop| %>
            <%= partial("sections/store", :locals => { :store => shop, type: "other" }) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
